@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

ion-content {
    font-family: 'Roboto';
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, #refresh {
    background-color: rgba(0, 0, 0, 0.15) !important;
    width: 200px;
}

.bar-button-md[icon-only] {
    padding:10px;
}

.scroll-content {
    padding: 0 !important;
}

ion-item, .coinbtn {
    background: #141D26 !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #19232c !important;
    color: #C1E6FF !important;
    font-weight: bold;
}

.details {
    background-color: #102D49 !important;
}

.loading-md .loading-wrapper {
    background:#102D49 !important;
    color: #C1E6FF !important;
    text-transform: uppercase;
    font-size:.8em;
}